{% extends 'mainsite/base_page.html' %}

{% block title %}
About Kalima Technology
{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1>About Us</h1>
    <p>Kalima Technology is a leading South African IT company that is dedicated to providing comprehensive solutions to both the private and public sectors. Our team of professionals and strategic partnerships with global industry leaders ensure that our customers receive the highest level of competency and service.</p>
    <p>Our mission is to empower organizations with the latest technology and services to drive their digital transformation and achieve their strategic objectives.</p>
  </div>
{% endblock %}