{% extends 'mainsite/base.html' %}

{% block title %}
Software
{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1>Products and Services</h1>
    <ul>
      <li>ICT Hardware: End-user computing, datacentre server and server environment, networking, security, printing and imaging devices</li>
      <li>Software Solutions and Licensing: End-user software, data centre software, security software</li>
      <li>Enterprise Systems and Solutions: Disaster recovery, digital signature solutions, privileged access management, digital access management, security and server infrastructure, server monitoring and management</li>
      <li>Development Services: Desktop, App, API & Web development, HTML, CSS, Javascript, Python, Django, AI & machine learning</li>
      <li>Professional ICT Services: Project management, change management, enterprise architecture, solution architecture</li>
      <li>ICT Cloud Services: IAAS, PAAS, SAAS, DAAS</li>
      <li>ICT Network and Cybersecurity Solutions: Switches, routers, firewalls, anti-virus, zero trust solutions, access control, PAM, secure certificate-based signing solutions</li>
      <li>Office Supplies: Printer cartridges, ribbons, toners, printer maintenance products</li>
    </ul>
  </div>
{% endblock %}