<!-- START THE FEATURETTES --><hr class="featurette-divider">
<div class="row featurette noPadding" style="width: 100%; background-color: #373435;">
	<div class="col-md-7">
		<h2 class="featurette-heading text-muted">Blazing performance.</h2>
		<p class="lead">10 x faster than a traditional hard disk drive makes the 
		SSD drive a worthy upgrade to boost system performance of a new system, 
		or to extend the life of an older system. Work with no lag, work with more 
		responsiveness, and you will insist on moving your SSD over to any new system 
		you purchase.</p>
	</div>
	<div class="col-md-5">
		<img alt="Generic placeholder image" class="featurette-image img-fluid mx-auto" src="featuretteImages/500by500Image1.png" />
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading text-muted">Quiet and cool.</h2>
		<p class="lead">You will be surprised at how noisy the traditional mechanical 
		hard disk drives are, and with the SSD having zero moving parts, noise and 
		friction are at a minimum. This also reduces power consumption, meaning 
		your laptop battery lasts longer.</p>
	</div>
	<div class="col-md-5 order-md-1">
		<img alt="Generic placeholder image" class="featurette-image img-fluid mx-auto" src="featuretteImages/500by500Image2.png" />
	</div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading text-muted">Reasonable price.</h2>
		<p class="lead">Although the price per gigabyte of an SSD is higher than 
		a traditional hard drive, the SSD is not meant to store your large movie, 
		music and image libraries. Traditional hard drives are more suited for that 
		purpose. SSD drives are for performance, not capacity, and prove their worth 
		when your operating system, software and frequently used files are located 
		on it. </p>
		<p class="lead">An upgrade to a SSD drive is a lot cheaper than the cost 
		of upgrading your entire system. It is, rand for rand, the cheapest and 
		most cost effective performance upgrade available today. </p>
	</div>
	<div class="col-md-5">
		<img alt="Generic placeholder image" class="featurette-image img-fluid mx-auto" src="featuretteImages/500by500Image3.png" />
	</div>
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->
