<div class="container noPadding">

    <div id="Footer" class="row noPadding defaultbackgroundcolor " style="margin: 0px; width: 100%; background-color: #373435; color: white; border-top: 1px solid #1F8DD6;">
        <div class="col-md-2 noPadding">
            <ul>
                <li class="footerQuickLinksHeader ">Offerings</li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/endusercomputing/endusercomputing.php">
                End-user Computing</a></li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/datacentre/datacentre.php">
                Data-centre &amp; Connectivity</a></li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/solutions/solutions.php">Solutions &amp; 
                Services</a></li>
            </ul>
            <p>&nbsp;</p>
        </div>
        <div class="col-md-2 noPadding">
            <ul>
                <li class="footerQuickLinksHeader ">News</li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/news/ibmsilverpartner.php">
                IBM Silver Partner</a></li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/news/pgovenderdirector.php">
                Our new COO</a></li>
            </ul>
        </div>
        <div class="col-md-2 noPadding">
            <ul>
                <li class="footerQuickLinksHeader ">Resources</li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/resources/articles.php">Articles</a></li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/resources/downloads.php">Downloads</a></li>
            </ul>
        </div>
        <div class="col-md-2 noPadding">
            <ul>
                <li class="footerQuickLinksHeader ">Our Business</li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/company/aboutus.php">About 
                Us</a></li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/company/managementteam.php">
                Management Team</a></li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="/pages/company/socialresponsibility.php">
                Social Responsibility</a></li>
            </ul>
        </div>
        <div class="col-md-4 noPadding">
            <ul>
                <li class="footerQuickLinksHeader ">Contact Us</li>
                <li class="FooterQuickLinks">
                <span class="FooterQuickLinks" style="text-align: right !important; text-transform: lowercase !important; font-size: medium !important;">
                Tel:&emsp;&emsp;&emsp; (+27) 10-230-0652</span></li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="mailto:info@kalimatech.co.za" style="text-align: right !important; text-transform: lowercase !important; font-size: medium !important;">
                Email:&emsp;&emsp;info@kalimatech.co.za</a></li>
                <li class="footerQuickLinksHeader "><br>Social media</li>
                <li class="FooterQuickLinks">
                <a class="FooterQuickLinks" href="https://www.linkedin.com/company/kalimatech" target="_blank">
                <i class="fab fa-2x fa-linkedin"></i></a>&emsp;
                <a class="FooterQuickLinks" href="https://www.facebook.com/kalimatech" target="_blank">
                <i class="fab fa-2x fa-facebook-f"></i></a>&emsp;
                <a class="FooterQuickLinks" href="https://wa.me/27734570207" target="_blank">
                <i class="fab fa-2x fa-whatsapp"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row noPadding" style="width: 100%; background-color: #373435;">
        <div class="col-12 noPadding">
            <div class="noPadding" style="background-position: left; background-color: #373435; color: #b4b4b4; height: auto; font-size: 12px; text-align: center;">
                Copyright &copy; 2021 Kalima Technology (Pty) Ltd. All rights reserved.
            </div>
            <div class="auto-style11" style="padding-right: 5px; padding-bottom: 5px; text-align: right; background-position: left; background-color: #373435; color: #FFFFFF; height: auto;">
                <a class="FooterQuickLinks" href="/pages/sitemap.php">Sitemap</a> |
                <a class="FooterQuickLinks" href="/pages/legal.php">Legal</a> |
                <a class="FooterQuickLinks" href="/pages/legal.php">Cookies</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h4>Subscribe to our newsletter</h4>
            <p>Stay up to date on the latest news and offers from our company</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email address">
              </div>
              <button type="submit" class="btn btn-secondary">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Start of HS Embed Code -->
    <script id="hs-script-loader" async="" defer src="//js.hs-scripts.com/8514814.js" type="text/javascript"></script>
    <!-- End of HS Embed Code -->