	{% load static %}

	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="row">
				<div class="col-6 d-flex justify-content-end">
					<a href="#"><i class="fab fa-facebook fa-2x mx-3"></i></a>
					<a href="#"><i class="fab fa-twitter fa-2x mx-3"></i></a>
					<a href="#"><i class="fab fa-linkedin fa-2x mx-3"></i></a>
					<a href="#"><i class="fab fa-youtube fa-2x mx-3"></i></a>
				</div>
				<div class="col-6">
					<a class="navbar-brand" href="#">
						<img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top"
							alt="">
						Kalima Technology
					</a>
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'home' %}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about' %}">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'services' %}">Products & Services</a>
						</li>
						<!--<li class="nav-item">
							<a class="nav-link" href="{% url 'contact' %}">Contact</a>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
	</nav>
	