<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129689709-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129689709-1');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<link href="/css/normalize.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="/css/mdb.min.css" rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" />
<link href="/css/component.css" rel="stylesheet" type="text/css" />
<!-- Your custom styles (optional) -->
<link href="/css/kalimatech.css" rel="stylesheet" />
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
<link rel="alternate" hreflang="en-ZA" href="https://www.kalimatech.co.za/" />
