<div class="row noPadding" style="margin: 0px; width: 100%; background-color: #373435; border-bottom: 1px solid #47a3da;">
	<div align="middle" class="col-md-4 noPadding centred" style="background-color: #373435; vertical-align: middle; text-align: center; height: 120px; padding-top:20px;">
		<a href="/index.php">
		<img align="middle" alt="" class="centredimage" height="auto" src="/images/WebsiteLogo.png" width="289"/></a>
	</div>
	<div class="col-md-8 noPadding" style="text-align:center; 	background-position: left center; vertical-align:middle; left; background-color: #373435; color: #FFFFFF; height: 90px; vertical-align:middle; background-repeat: no-repeat;">
	      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3" style="height:120px; vertical-align:middle; padding-top:10px"><?php if (isset($pagetitle)) {echo $pagetitle;} else {echo '';} ?>
      </h1>


</div>

