<div class="col-md-12 noPadding" style="margin: 0px; padding : 0px; background-position: left; border-bottom: 1px solid #47a3da; background-color: #373435; color: #FFFFFF;">
	<nav id="cbp-hrmenu" class="cbp-hrmenu">
		<ul>
	
			<li><a href="#">Corporate</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
						<h4>About Us</h4>
						<ul>
							<li>
							<a href="/pages/company/aboutus.php">About Us</a></li>
							<li>
							<a href="/pages/company/managementteam.php">Leadership</a> </li>
							<li>
							<a href="/pages/company/socialresponsibility.php">Social Responsibility</a></li>
						</ul>
					</div>
					<div>
						<h4>Strategic Objectives</h4>
						<ul>
							<li>
							<a href="/pages/company/humancapital.php">Human Capital</a></li>
							<li>
							<a href="/pages/company/globalpartnerships.php">Partnerships</a></li>
							<li>
							<a href="/pages/company/governance.php">Governance</a></li>
							
						</ul>
					</div>
					<div>
						<h4>Our Philosophies</h4>
						<ul>
							<li>
							<a href="/pages/company/empowerment.php">Empowerment</a></li>
							<li>
							<a href="/pages/company/zerocorruption.php">Zero Tolerance for Corrupt Activities</a></li>
							<li>
							<a href="/pages/company/zeroracismsexism.php">Zero Tolerance for Racism or Sexism</a></li>
							<li>
							<a href="/pages/company/faircompetition.php">Free and Fair Competition</a></li><br><br>
						</ul>
					</div>
					

				</div>
				<!-- /cbp-hrsub-inner --></div>
			</li>
			<li><a href="/pages/contact/contact.php">News</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
						<h4>Company News</h4>
						<ul>
							<li><a href="/pages/contact/contact.php">IBM Silver Business Partner Achievement</a></li>
							<li><a href="/pages/contact/contact.php">MR P Govender appointed as COO</a></li>
							<br><br>
						</ul>
					</div>
					<div>
						<h4>Industry News</h4>
						<ul>
							<li>
							<a href="/pages/company/empowerment.php">Solarwinds data breach</a></li>
							<li>
						
							<br><br>
						</ul>
					</div>

				</div>
				<!-- /cbp-hrsub-inner --></div>
			<!-- /cbp-hrsub --></li>

			<li><a href="#">Products &amp; Services</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
					<h4><a href="/pages/endusercomputing/endusercomputing.php">End User 
					Computing</a></h4>
						<ul>
							<li>
							<a href="/pages/endusercomputing/devices.php">Devices &amp; peripherals</a></li>
							<li>
							<a href="/pages/endusercomputing/software.php">Productivity Software</a></li>
							<li>
							<a href="/pages/endusercomputing/imaging.php">Imaging &amp; Printing</a></li>
						</ul></div><div>
						<h4><a href="/pages/datacentre/datacentre.php">Data Centre &amp; Security</a></h4>
						<ul>
							<li>
							<a href="/pages/datacentre/onpremises.php">On Premises</a></li>
							<li>
							<a href="/pages/datacentre/cloud.php">Cloud</a></li>
							<li>
							<a href="/pages/datacentre/hybrid.php">Hybrid</a></li>
							<li>
							<a href="/pages/datacentre/endpointsecurity.php">Endpoint Security</a></li>
							<li>
							<a href="/pages/datacentre/edgesecurity.php">Edge &amp; perimeter solutions</a></li>
							<li>
							<a href="/pages/datacentre/securitymanagement.php">Security Management</a></li>
							<br><br>
&nbsp;</ul></div>
					
						<div>
						<h4><a href="/pages/solutions/solutions.php">Enterprise Solutions</a></h4>
						<ul>
							<li><a href="/pages/solutions/disasterrecovery.php">Disaster Recovery 
							</a> </li>
							<li><a href="/pages/solutions/monitoringmanagement.php">Enterprise Monitoring &amp; Management 
							</a> </li>
							<li>
							<a href="/pages/solutions/electronicsignatures.php">Enterprise Electronic Signature</a> </li>
							<li>
							<a href="/pages/solutions/sftp.php">Secure Transmission</a></li>
							
							<li>
							<a href="/pages/solutions/pamsolution.php">Priviledged Access Management Solutions</a></li>

						</ul>
					</div>
				</div>
				<!-- /cbp-hrsub-inner --></div>
			<!-- /cbp-hrsub --></li>
			
			

			<li><a href="/pages/contact/contact.php">Contact Us</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
						<h4>Interact with us</h4>
						<ul>
							<li><a href="/pages/contact/contact.php">Get in touch</a></li>
							<br><br>
						</ul>
					</div>
				</div>
				<!-- /cbp-hrsub-inner --></div>
			<!-- /cbp-hrsub --></li>
		</ul>
	</nav>
</div>
