<!-- Three columns of text below the carousel -->
<div class="container-fluid noPadding d-flex" style="background-image: url('/images/rawpixel-668353-unsplash_grey.jpg'); height: 44em">
	<div class="card-deck justify-content-center align-self-center mx-auto">
		<div class="card helpcard" style="max-width: 275px; background-color: #373435">
			<a href="/pages/endusercomputing/endusercomputing.php">
			<img alt="Laptop with a blak screen" class="card-img-top" height="183" src="/images/_index_img/videoediting.png" width="275"></a>
			<div class="card-body" style="background-color: #373435; color: white;">
				<h5 class="card-title" style="color: #47a3da">End-user Computing</h5>
				<h5></h5>
				<p class="card-text" style="color: silver;">Ensure your people can operate at 
				maximum productivity with the latest computing equipment, productivity 
				software, imaging devices and accessories for all the major brands.</p>
				<p class="card-text justify-text-right">
				<a href="/pages/endusercomputing/endusercomputing.php">read more...</a></p>
						
			</div>
		</div>
		<div class="card helpcard" style="max-width: 275px;">
			<a href="/pages/datacentre/datacentre.php">
			<img alt="woman drawing on a whiteboard" class="card-img-top" style="border-radius=5%" height="183" src="/images/_index_img/womanflowchart.png" width="275"></a>
			<div class="card-body" style="background-color: #373435; color: white;">
				<h5 class="card-title" style="color: #47a3da">Data centre &amp; Connectivity</h5>
				<h5></h5>
				<p class="card-text" style="color: silver;">Authorised IBM Cloud, AWS &amp; Microsoft Azure 
				partnerships allow us to provision you with cloud resources as and 
				when you require. Migrate your organisation to the cloud and realise 
				a new level of organisational agility </p>
				<p class="card-text justify-text-right">
				<a href="/pages/datacentre/datacentre.php">read more...</a></p>

				
					
				
			</div>
		</div>
		<div class="card helpcard" style="max-width: 275px;">
			<a href="/pages/solutions/solutions.php">
			<img alt="Laptop with a blak screen" class="card-img-top" height="184" src="/images/_index_img/businessidea.png" width="275"></a>
			<div class="card-body" style="background-color: #373435; color: white;">
				<h5 class="card-title" style="color: #47a3da">Solutions &amp; Services</h5>
				<h5></h5>
				<p class="card-text" style="color: silver;">Take the guesswork out of managing your enterprise 
				with our range of managed services. From Anti-virus monitoring, 
				patch updates, SIEM, Network monitoring and application monitoring, 
				we will keep an eye on your operations.</p>
				<p class="card-text justify-text-right">
				<a href="/pages/solutions/solutions.php">read more...</a></p>
			
			</div>
		</div>
	</div>
</div>
