<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129689709-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129689709-1');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<link href="/css/normalize.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="/css/mdb.min.css" rel="stylesheet" />
<link href="/css/default.css" rel="stylesheet" type="text/css" />
<link href="/css/component.css" rel="stylesheet" type="text/css" />
<!-- Your custom styles (optional) -->
<link href="/css/kalimatech.css" rel="stylesheet" />
<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
<link rel="alternate" hreflang="en-ZA" href="https://www.kalimatech.co.za/" />
   
<link href="/css/component/button.css" rel="stylesheet" />
<title>Professional Information Technology Consultants | Kalima Technology</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>


<body class="animated fadeIn" style="background-image:url('images/RearCover1_optimised.jpg')">


	<!-- www.kalimatech.co.za - CoronaVirus Requirement -->
	<div class="row-fluid noPadding" style="width: 100%; background-color : #47a3da;font-size:large; color:white; padding:5px 5px 5px 5px;">
		<div class="col-12 noPadding covid">
			<div style="text-align:center;">Take care of you and yours during 
				this pandemic. Remember social distancing, to wash your hands 
				and wear a mask in all public spaces. For more information about COVID-19 please visit
				<a href="https://www.sacoronavirus.co.za"><strong>sacoronavirus.co.za</strong></a></div>
		</div>
	</div>
	<!-- www.kalimatech.co.za - End of CoronaVirus Requirement -->


<!-- sitecontainer -->
<div id="sitecontainer" class="container-fluid mx-auto defaultbackgroundcolor ">



	<!-- www.kalimatech.co.za - Header Section --><div class="row noPadding" style="margin: 0px; width: 100%; background-color: #373435; border-bottom: 1px solid #47a3da;">
	<div align="middle" class="col-md-4 noPadding centred" style="background-color: #373435; vertical-align: middle; text-align: center; height: 120px; padding-top:20px;">
		<a href="/index.php">
		<img align="middle" alt="" class="centredimage" height="auto" src="/images/WebsiteLogo.png" width="289"/></a>
	</div>
	<div class="col-md-8 noPadding" style="text-align:center; 	background-position: left center; vertical-align:middle; left; background-color: #373435; color: #FFFFFF; height: 90px; vertical-align:middle; background-repeat: no-repeat;">
	      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3" style="height:120px; vertical-align:middle; padding-top:10px">Home Page      </h1>


</div>
	<!-- www.kalimatech.co.za - End of Header Section -->
	<!-- www.kalimatech.co.za - Menu Section --><div class="col-md-12 noPadding" style="margin: 0px; padding : 0px; background-position: left; border-bottom: 1px solid #47a3da; background-color: #373435; color: #FFFFFF;">
	<nav id="cbp-hrmenu" class="cbp-hrmenu">
		<ul>
	
			<li><a href="#">Corporate</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
						<h4>About Us</h4>
						<ul>
							<li>
							<a href="/pages/company/aboutus.php">About Us</a></li>
							<li>
							<a href="/pages/company/managementteam.php">Leadership</a> </li>
							<li>
							<a href="/pages/company/socialresponsibility.php">Social Responsibility</a></li>
						</ul>
					</div>
					<div>
						<h4>Strategic Objectives</h4>
						<ul>
							<li>
							<a href="/pages/company/humancapital.php">Human Capital</a></li>
							<li>
							<a href="/pages/company/globalpartnerships.php">Partnerships</a></li>
							<li>
							<a href="/pages/company/governance.php">Governance</a></li>
							
						</ul>
					</div>
					<div>
						<h4>Our Philosophies</h4>
						<ul>
							<li>
							<a href="/pages/company/empowerment.php">Empowerment</a></li>
							<li>
							<a href="/pages/company/zerocorruption.php">Zero Tolerance for Corrupt Activities</a></li>
							<li>
							<a href="/pages/company/zeroracismsexism.php">Zero Tolerance for Racism or Sexism</a></li>
							<li>
							<a href="/pages/company/faircompetition.php">Free and Fair Competition</a></li><br><br>
						</ul>
					</div>
					

				</div>
				<!-- /cbp-hrsub-inner --></div>
			</li>
			<li><a href="/pages/contact/contact.php">News</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
						<h4>Company News</h4>
						<ul>
							<li><a href="/pages/contact/contact.php">IBM Silver Business Partner Achievement</a></li>
							<li><a href="/pages/contact/contact.php">MR P Govender appointed as COO</a></li>
							<br><br>
						</ul>
					</div>
					<div>
						<h4>Industry News</h4>
						<ul>
							<li>
							<a href="/pages/company/empowerment.php">Solarwinds data breach</a></li>
							<li>
						
							<br><br>
						</ul>
					</div>

				</div>
				<!-- /cbp-hrsub-inner --></div>
			<!-- /cbp-hrsub --></li>

			<li><a href="#">Products &amp; Services</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
					<h4><a href="/pages/endusercomputing/endusercomputing.php">End User 
					Computing</a></h4>
						<ul>
							<li>
							<a href="/pages/endusercomputing/devices.php">Devices &amp; peripherals</a></li>
							<li>
							<a href="/pages/endusercomputing/software.php">Productivity Software</a></li>
							<li>
							<a href="/pages/endusercomputing/imaging.php">Imaging &amp; Printing</a></li>
						</ul></div><div>
						<h4><a href="/pages/datacentre/datacentre.php">Data Centre &amp; Security</a></h4>
						<ul>
							<li>
							<a href="/pages/datacentre/onpremises.php">On Premises</a></li>
							<li>
							<a href="/pages/datacentre/cloud.php">Cloud</a></li>
							<li>
							<a href="/pages/datacentre/hybrid.php">Hybrid</a></li>
							<li>
							<a href="/pages/datacentre/endpointsecurity.php">Endpoint Security</a></li>
							<li>
							<a href="/pages/datacentre/edgesecurity.php">Edge &amp; perimeter solutions</a></li>
							<li>
							<a href="/pages/datacentre/securitymanagement.php">Security Management</a></li>
							<br><br>
&nbsp;</ul></div>
					
						<div>
						<h4><a href="/pages/solutions/solutions.php">Enterprise Solutions</a></h4>
						<ul>
							<li><a href="/pages/solutions/disasterrecovery.php">Disaster Recovery 
							</a> </li>
							<li><a href="/pages/solutions/monitoringmanagement.php">Enterprise Monitoring &amp; Management 
							</a> </li>
							<li>
							<a href="/pages/solutions/electronicsignatures.php">Enterprise Electronic Signature</a> </li>
							<li>
							<a href="/pages/solutions/sftp.php">Secure Transmission</a></li>
							
							<li>
							<a href="/pages/solutions/pamsolution.php">Priviledged Access Management Solutions</a></li>

						</ul>
					</div>
				</div>
				<!-- /cbp-hrsub-inner --></div>
			<!-- /cbp-hrsub --></li>
			
			

			<li><a href="/pages/contact/contact.php">Contact Us</a>
			<div class="cbp-hrsub">
				<div class="cbp-hrsub-inner animated fadeIn">
					<div>
						<h4>Interact with us</h4>
						<ul>
							<li><a href="/pages/contact/contact.php">Get in touch</a></li>
							<br><br>
						</ul>
					</div>
				</div>
				<!-- /cbp-hrsub-inner --></div>
			<!-- /cbp-hrsub --></li>
		</ul>
	</nav>
</div>
	<!-- www.kalimatech.co.za - End of Menu Section -->
	<!-- www.kalimatech.co.za - Breadcrumb Section -->
	<div class="row noPadding" style="width: 100%; background-color: #373435;">
		<div class="col-12 noPadding">
			<div class="row noPadding breadcrumbbar"><a href="/index.php">Home</a></div>
		</div>
	</div>
	<!-- www.kalimatech.co.za - End of Breadcrumb Section -->
	<!-- www.kalimatech.co.za - Content Section -->

<head>
</head>

<div class="container noPadding">

   
   
--><img alt="" src="/images/_index_img/benjaminchildsunsplash.jpg" width="100%">
	<div class="row" style="padding: 15px;">
		<div class="col-lg-12">
			<h2 class="mt-4">Cutting edge IT solutions for your Enterprise </h2>
			<p>&nbsp;</p>
			<p>Looking after an organisations ICT infrastructure is a complex and 
			demanding undertaking. Kalima Technology exists to be of service to 
			all organisations by building a brand agnostic, certified and customer 
			centric business to deliver tangible results. </p>
			<p>We focus on three main service deliverables for you. </p>
			<p>1. To achieve an attractive return on investment for you. <br>2. 
			To provide guaranteed, exceptional service. <br>3. To be the fastest 
			to respond to your requests.</p>
			<p>Your requirements are unique, and we understand that. That is why 
			we build solutions tailored to your organisational requirements, choosing 
			from a battery of tried and tested solutions from our alliance partners 
			to achieve a complete, customised and robust solution. We have partnership 
			agreements with IBM, Microsoft, AWS, Cisco, Dell, Lenovo, Fortinet, 
			Kaspersky, Sophos, Trend Micro &amp; Veeam amongst many others to offer 
			you certified expertise &amp; solutions from the worlds leading ICT 
			brands.</p>
			<p>Email <a href="mailto:channel@kalimatech.co.za"><strong>channel@kalimatech.co.za</strong></a> 
			with your requirements and an expert consultant will be of service to 
			you.</p>
			<p>We look forward to working together.. </p>
		</div>
	</div>
	<hr class="featurette-divider">

<!-- /.row -->

<!-- /.row -->
<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<!-- Three columns of text below the carousel -->
<div class="container-fluid noPadding d-flex" style="background-image: url('/images/rawpixel-668353-unsplash_grey.jpg'); height: 44em">
	<div class="card-deck justify-content-center align-self-center mx-auto">
		<div class="card helpcard" style="max-width: 275px; background-color: #373435">
			<a href="/pages/endusercomputing/endusercomputing.php">
			<img alt="Laptop with a blak screen" class="card-img-top" height="183" src="/images/_index_img/videoediting.png" width="275"></a>
			<div class="card-body" style="background-color: #373435; color: white;">
				<h5 class="card-title" style="color: #47a3da">End-user Computing</h5>
				<h5></h5>
				<p class="card-text" style="color: silver;">Ensure your people can operate at 
				maximum productivity with the latest computing equipment, productivity 
				software, imaging devices and accessories for all the major brands.</p>
				<p class="card-text justify-text-right">
				<a href="/pages/endusercomputing/endusercomputing.php">read more...</a></p>
						
			</div>
		</div>
		<div class="card helpcard" style="max-width: 275px;">
			<a href="/pages/datacentre/datacentre.php">
			<img alt="woman drawing on a whiteboard" class="card-img-top" style="border-radius=5%" height="183" src="/images/_index_img/womanflowchart.png" width="275"></a>
			<div class="card-body" style="background-color: #373435; color: white;">
				<h5 class="card-title" style="color: #47a3da">Data centre &amp; Connectivity</h5>
				<h5></h5>
				<p class="card-text" style="color: silver;">Authorised IBM Cloud, AWS &amp; Microsoft Azure 
				partnerships allow us to provision you with cloud resources as and 
				when you require. Migrate your organisation to the cloud and realise 
				a new level of organisational agility </p>
				<p class="card-text justify-text-right">
				<a href="/pages/datacentre/datacentre.php">read more...</a></p>

				
					
				
			</div>
		</div>
		<div class="card helpcard" style="max-width: 275px;">
			<a href="/pages/solutions/solutions.php">
			<img alt="Laptop with a blak screen" class="card-img-top" height="184" src="/images/_index_img/businessidea.png" width="275"></a>
			<div class="card-body" style="background-color: #373435; color: white;">
				<h5 class="card-title" style="color: #47a3da">Solutions &amp; Services</h5>
				<h5></h5>
				<p class="card-text" style="color: silver;">Take the guesswork out of managing your enterprise 
				with our range of managed services. From Anti-virus monitoring, 
				patch updates, SIEM, Network monitoring and application monitoring, 
				we will keep an eye on your operations.</p>
				<p class="card-text justify-text-right">
				<a href="/pages/solutions/solutions.php">read more...</a></p>
			
			</div>
		</div>
	</div>
</div>
<hr class="featurette-divider">
   <div class="col-lg-12">
	<h1>More Information</h1>
</div>
<div class="row noPadding">
	<div class="col-sm-4 my-4">
		<div class="card" style="text-align: center">
			<div class="card-body">
				<h4 class="card-title" style="color: black">About Us</h4>
				<p class="card-text">A South African Information Technology focused 
				on easing friction for Information Technology professionals in a 
				competitive market. </p>
			</div>
			<div class="card-footer" style="text-align: center">
				<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/company/aboutus.php">
				Read More...</a> </div>
		</div>
	</div>
	<div class="col-sm-4 my-4">
		<div class="card" style="text-align: center">
			<div class="card-body">
				<h4 class="card-title" style="color: black">Social Responsibility</h4>
				<p class="card-text">By leveraging our small enterprise to the larger 
				enterprises, we can offer small enterprises help.</p>
			</div>
			<div class="card-footer" style="text-align: center">
				<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/company/socialresponsibility.php">
				read more...</a> </div>
		</div>
	</div>
	<div class="col-sm-4 my-4">
		<div class="card" style="text-align: center">
			<div class="card-body">
				<h4 class="card-title" style="color: black">Company News</h4>
				<p class="card-text">Kalima Technology is now a Silver Business 
				Partner with IBM. </p>
			</div>
			<div class="card-footer">
				<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-lighty" href="/pages/news/ibmsilverpartner.php">read more...</a> </div>
		</div>
	</div><hr class="featurette-divider">

</div>
<hr class="featurette-divider">
   <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
		<li data-slide-to="1" data-target="#myCarousel"></li>
		<li data-slide-to="2" data-target="#myCarousel"></li>
		<li data-slide-to="3" data-target="#myCarousel"></li>
		<li data-slide-to="4" data-target="#myCarousel"></li>
		<li data-slide-to="5" data-target="#myCarousel"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img alt="First slide" class="first-slide img-fluid" src="/images/logomarquee/banner0.png">
			<div class="container">
				<div class="carousel-caption text-right">						
					<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/solutions/solutions.php" role="button">
					Enterprise Solutions</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img alt="Second slide" class="second-slide img-fluid" src="/images/logomarquee/banner1.png">
			<div class="container">
				<div class="carousel-caption CarouselText text-right ">			
					<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/datacentre/datacentre.php" role="button">Data Center</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img alt="Third slide" class="third-slide" src="/images/logomarquee/banner2.png">
			<div class="container">
				<div class="carousel-caption text-right CarouselText ">
					<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/endusercomputing/endusercomputing.php" role="button">
					End-user computing</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img alt="Fourth slide" class="fourth-slide" src="/images/logomarquee/banner3.png">
			<div class="container">
				<div class="carousel-caption text-right CarouselText ">
					<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/endusercomputing/software.php" role="button">
					Software</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img alt="Fifth slide" class="fifth-slide" src="/images/logomarquee/banner4.png">
			<div class="container">
				<div class="carousel-caption text-right CarouselText ">
					<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/datacentre/endpointsecurity.php" role="button">
					Anti-virus</a>
				</div>
			</div>
		</div>
		
		<div class="carousel-item">
			<img alt="Fifth slide" class="fifth-slide" src="/images/logomarquee/banner5.png">
			<div class="container">
				<div class="carousel-caption text-right CarouselText ">
					<a class="btn btn-outline-primary btnRoundBlue waves-effect waves-light" href="/pages/datacentre/endpointsecurity.php" role="button">
					Anti-virus</a>
				</div>
			</div>
		</div>

		
	</div>
	<a class="carousel-control-prev" data-slide="prev" href="#myCarousel" role="button">
	<span aria-hidden="true" class="carousel-control-prev-icon"></span>
	<span class="sr-only">Previous</span> </a>
	<a class="carousel-control-next" data-slide="next" href="#myCarousel" role="button">
	<span aria-hidden="true" class="carousel-control-next-icon"></span>
	<span class="sr-only">Next</span> </a></div>
</div>
	<!-- www.kalimatech.co.za - End of Content Section -->
</div>

	<!-- www.kalimatech.co.za - Footer Section -->	<div class="container noPadding">

<div id="Footer" class="row noPadding defaultbackgroundcolor " style="margin: 0px; width: 100%; background-color: #373435; color: white; border-top: 1px solid #1F8DD6;">
	<div class="col-md-2 noPadding">
		<ul>
			<li class="footerQuickLinksHeader ">Offerings</li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/endusercomputing/endusercomputing.php">
			End-user Computing</a></li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/datacentre/datacentre.php">
			Data-centre &amp; Connectivity</a></li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/solutions/solutions.php">Solutions &amp; 
			Services</a></li>
		</ul>
		<p>&nbsp;</p>
	</div>
	<div class="col-md-2 noPadding">
		<ul>
			<li class="footerQuickLinksHeader ">News</li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/news/ibmsilverpartner.php">
			IBM Silver Partner</a></li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/news/pgovenderdirector.php">
			Our new COO</a></li>
		</ul>
	</div>
	<div class="col-md-2 noPadding">
		<ul>
			<li class="footerQuickLinksHeader ">Resources</li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/resources/articles.php">Articles</a></li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/resources/downloads.php">Downloads</a></li>
		</ul>
	</div>
	<div class="col-md-2 noPadding">
		<ul>
			<li class="footerQuickLinksHeader ">Our Business</li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/company/aboutus.php">About 
			Us</a></li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/company/managementteam.php">
			Management Team</a></li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="/pages/company/socialresponsibility.php">
			Social Responsibility</a></li>
		</ul>
	</div>
	<div class="col-md-4 noPadding">
		<ul>
			<li class="footerQuickLinksHeader ">Contact Us</li>
			<li class="FooterQuickLinks">
			<span class="FooterQuickLinks" style="text-align: right !important; text-transform: lowercase !important; font-size: medium !important;">
			Tel:&emsp;&emsp;&emsp; (+27) 10-230-0652</span></li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="mailto:info@kalimatech.co.za" style="text-align: right !important; text-transform: lowercase !important; font-size: medium !important;">
			Email:&emsp;&emsp;info@kalimatech.co.za</a></li>
			<li class="footerQuickLinksHeader "><br>Social media</li>
			<li class="FooterQuickLinks">
			<a class="FooterQuickLinks" href="https://www.linkedin.com/company/kalimatech" target="_blank">
			<i class="fab fa-2x fa-linkedin"></i></a>&emsp;
			<a class="FooterQuickLinks" href="https://www.facebook.com/kalimatech" target="_blank">
			<i class="fab fa-2x fa-facebook-f"></i></a>&emsp;
			<a class="FooterQuickLinks" href="https://wa.me/27734570207" target="_blank">
			<i class="fab fa-2x fa-whatsapp"></i></a></li>
		</ul>
	</div>
</div>
<div class="row noPadding" style="width: 100%; background-color: #373435;">
	<div class="col-12 noPadding">
		<div class="noPadding" style="background-position: left; background-color: #373435; color: #b4b4b4; height: auto; font-size: 12px; text-align: center;">
			Copyright &copy; 2021 Kalima Technology (Pty) Ltd. All rights reserved.
		</div>
		<div class="auto-style11" style="padding-right: 5px; padding-bottom: 5px; text-align: right; background-position: left; background-color: #373435; color: #FFFFFF; height: auto;">
			<a class="FooterQuickLinks" href="/pages/sitemap.php">Sitemap</a> |
			<a class="FooterQuickLinks" href="/pages/legal.php">Legal</a> |
			<a class="FooterQuickLinks" href="/pages/legal.php">Cookies</a>
		</div>
	</div>
</div>
<div class="footercontainer">
	<footer class="my-5 pt-5 text-muted text-center text-small nopadding">
		<p class="mb-1">&copy; 2017-2018 Company Name</p>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#">Privacy</a></li>
			<li class="list-inline-item"><a href="#">Terms</a></li>
			<li class="list-inline-item"><a href="#">Support</a></li>
		</ul>
	</footer>
</div>
</div>

<!-- Start of HS Embed Code -->
<script id="hs-script-loader" async="" defer src="//js.hs-scripts.com/8514814.js" type="text/javascript"></script>
<!-- End of HS Embed Code -->	<!-- www.kalimatech.co.za - End of Footer Section -->
<!-- /container -->
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="/dev/jquery-3.3.1.min.js" type="text/javascript"></script>
<!-- Bootstrap tooltips -->
<script src="/dev/popper.min.js" type="text/javascript"></script>
<!-- Bootstrap core JavaScript -->
<script src="/dev/bootstrap.min.js" type="text/javascript"></script>
<!-- MDB core JavaScript -->
<script src="/dev/mdb.min.js" type="text/javascript"></script>
<script src="/dev/horizontalmenu.js" type="text/javascript"></script>
<script src="/dev/smooth-scroll.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		cbpHorizontalMenu.init();
		});
	$('.carousel').carousel({
	  interval: 10000
	})
</script>
<script type="text.javascript">
	$function init();
</script>

</body>

</html>
