<div class="row noPadding" style="margin: 0px; width: 100%; background-color: #373435; border-bottom: 1px solid #1F8DD6;">
	<div align="middle" class="col-md-4 noPadding centred" style="background-color: #E7E7E7; vertical-align: middle; text-align: center; height: 110px;">
		<a href="/index.php">
		<img align="middle" alt="" class="centredimage" height="auto" src="/images/weblogo.png" width="289" /></a>
	</div>
	<div class="col-md-8 noPadding" style="text-align:center; 	background-position: left center; vertical-align:middle; left; background-color: #373435; color: #FFFFFF; height: 90px; background-image: url('/images/webtri.png');  vertical-align:middle; background-repeat: no-repeat;">
	      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3" style="height:90px; vertical-align:middle;"><?php if (isset($pagetitle)) {echo $pagetitle;} else {echo '';} ?>
      </h1>


</div>
