<div class="PartnerProfile">
	<a href="/pages/strategicpartnerships.php">
	<img alt="Dell Partner Logo" height="50" src="/images/PartnerPrograms/DT_AuthorizedPartner_4C.png">&emsp;
	<img alt="Citrix Logo" height="50" src="/images/PartnerPrograms/partner-silver-solution-advisor-dark-red-300x125.png">&emsp;
	<img alt="Cisco Logo" height="50" src="/images/PartnerPrograms/ciscopartnerlogowhite.png">&emsp;
	<img alt="Veeam Partner Logo" height="50" src="/images/PartnerPrograms/ProPartner_logo.png">&emsp;
	<img alt="Adobe Certified Reseller Logo" height="50" src="/images/PartnerPrograms/Certified_Reseller_badge_2_lines.png">&emsp;
	<img alt="Lenovo DC Partner Logo" height="50" src="/images/PartnerPrograms/DataCenter%20Authorized%20Partner%20Emblem%202019%20(PNG).png">&emsp;
	<img alt="Lenovo PC Partner Logo" height="50" src="/images/PartnerPrograms/PC%20Authorized%20Partner%20Emblem%202019%20(PNG).png">&emsp;
	<img alt="Trend Micro Partner Logo" height="50" src="/images/PartnerPrograms/TM_Partner-Program_Bronze_Logo_150331.png">&emsp;
	</a>
	</div>
	
